/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/* Source Sans Pro
-------------------------------------------------- */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}
@font-face {
		font-family: 'whoismono';
		src: url(../fonts/whois-mono.eot);
		src: url(../fonts/whois-mono.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/whois-mono.woff) format('woff'),
				 url(../fonts/whois-mono.ttf) format('truetype'),
				 url(../fonts/whois-mono.svg#whoismono) format('svg');
		font-weight: normal;
		font-style: normal;

}
@font-face {
		font-family: 'leucadiaregular';
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot);
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff2) format('woff2'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff) format('woff'),
				 url(../fonts/Leucadia-BeachedFish-webfont.ttf) format('truetype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.svg#leucadiaregular) format('svg');
		font-weight: normal;
		font-style: normal;

}
/* Reset
-------------------------------------------------- */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}


/* Pix
-------------------------------------------------- */
img {
	display: block;
	max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
	text-decoration: none;
	transition: color .3s, background .3s, border .3s;
}
a:hover {
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
	content: "";
	display: table;
	clear: both;
}


/* Site
-------------------------------------------------- */
html {
	height: 101%;
	font-family: "whoismono", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-size: .9rem;
	line-height: 1.5em;
}
body, a {
	color: #422222;
}
p {
 color: #422222;
}
/* Header
-------------------------------------------------- */
.header {
	margin-bottom: 1.5em;
}
.logo {
	display: block;
	margin-bottom: 1.5em;
	font-family: "leucadiaregular", serif;
	text-align: center;
	font-size: 1rem;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	position: absolute;
	left: -20px;
	top: 90px;

}



/* Navigation
-------------------------------------------------- */
nav{

}
#shadow{
	position: fixed;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	height: 80px;
	width: 100%;
	z-index: 9999;
}

#bande1, #bande2{
	height: auto;
	width: 320px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	overflow: visible;
}
#bande1 {
	position: fixed;
	z-index: 99999;
	transform: rotate(-90deg);
	transform-origin: 0 0;
}
#bande2 {
	top: 0;
	left: 40px;
	position: fixed;
	z-index: 9999;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
#bande1:active, #bande2:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

nav li {
}

#menu {
	background: red;
}
#menu, #submenu{
	clear: both;
	overflow: hidden;
}
#menu .active {
}
#menu li, #submenu li {
	list-style: none;
	float: left;
	position: relative;
	padding: .6rem 1em;
	border: 0;
	text-align: center;
	width: 320px;
}
#submenu li {
	width: 160px;
	/*padding: .4rem;
	border: 5px solid;*/
}
#menu li {
	/*height: 41px;
	padding: .3rem;
	border: 5px solid;*/
}
#submenu:before {

}
#submenu li {
}
#submenu a {
}
#submenu a:hover {

}

@media screen and (min-width: 40em) {
	body {
	}
	.logo {
	}
	#menu {
	}
	#menu > li {
	}
	#menu > li > a {
	}
	#menu > li:hover #submenu {
		display: block;
	}
}


/* Headings
-------------------------------------------------- */
h1 {
	font-size: 2rem;
	line-height: 1.25em;
	font-weight: 400;
	margin-bottom: .5em;
}
h2 {
	font-size: 2rem;
	line-height: 1.25em;
	font-weight: 300;
	margin-bottom: .5em;
}
h3 {
	font-size: 1.4rem;
	line-height: 1.5em;
	font-weight: 400;
	margin-bottom: .5em;
}
h4 {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: .5em;
}
h1 a, h2 a, h3 a, h4 a {
	color: inherit;
	border: 0 !important;
}



/* Main
-------------------------------------------------- */
#map{
	height: 100%;
	width: 100%;
	position: fixed;
}

.main {
	padding-bottom: 1em;
	margin: 0px 0 0 200px;
	width: 320px;
	background: #fff;
	position: absolute;
	top: 0;
	z-index: 999;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.main hr {
	margin: 3em 0;
	height: 2px;
	background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
	margin-bottom: 1.5em;
}
.main a {
}
.main a:hover {
}

/* Text blocks */
.text ul,
.text ol {
}
li {
	list-style: none;
}
.timeline{
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

/* Colonne
-------------------------------------------------- */
.rubrique-container img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.rubrique-container {
	padding: 1.5rem 0;
}
.rubrique-title {
	font-size: 15px;
	line-height: 31px;
	font-weight: 300;
	margin-bottom: 41px;
	border: 5px solid;
	height: 41px;
	text-align: center;
	background: #FFc;
}


/* Map
-------------------------------------------------- */
#map { position:fixed; top:0; bottom:0; width:100%; }

