/*

Kirby Starterkit yoyoyo

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
/* FONTS
-------------------------------------------------- */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}
@font-face {
		font-family: 'whoismono';
		src: url(../fonts/whois-mono.eot);
		src: url(../fonts/whois-mono.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/whois-mono.woff) format('woff'),
				 url(../fonts/whois-mono.ttf) format('truetype'),
				 url(../fonts/whois-mono.svg#whoismono) format('svg');
		font-weight: normal;
		font-style: normal;

}
@font-face {
		font-family: 'leucadiaregular';
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot);
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff2) format('woff2'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff) format('woff'),
				 url(../fonts/Leucadia-BeachedFish-webfont.ttf) format('truetype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.svg#leucadiaregular) format('svg');
		font-weight: normal;
		font-style: normal;

}
@font-face {
		font-family: 'try';
		src: local("Karla-Regular")
}
/* Reset
-------------------------------------------------- */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}
li, ul, ol {
	list-style-type: none;
}


/* Pix
-------------------------------------------------- */
img {
	display: block;
	max-width: 100%;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
	content: "";
	display: table;
	clear: both;
}


/* Site
-------------------------------------------------- */
html {
	height: 101%;
	font-family: "whoismono", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-size: .9rem;
	line-height: 1.5em;
}
body, a {
	color: #422222;
}
p {
 color: #422222;
}

/* Header
-------------------------------------------------- */
.header {
	margin-bottom: 1.5em;
}
.logo {
	display: block;
	margin-bottom: 1.5em;
	font-family: "leucadiaregular", serif;
	text-align: center;
	font-size: 1rem;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	position: absolute;
	left: -20px;
	top: 90px;
}

/* Links
-------------------------------------------------- */
a {
	text-decoration: none;
	-webkit-transition: color ..5s, background ..5s, border ..5s;
	-ms-transition: color ..5s, background ..5s, border ..5s;
	-o-transition: color ..5s, background ..5s, border ..5s;
	transition: color ..5s, background ..5s, border ..5s;
}
a:hover {
}

/* Headings
-------------------------------------------------- */
h1 {
	font-size: 2rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin-bottom: .5rem;
}
h2 {
	font-size: 2rem;
	line-height: 1.5rem;
	font-weight: 300;
	margin-bottom: .5rem;
}
h3 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin: 1.5em 0;
}
h4 {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
	margin-bottom: .5em;
}
h5 {
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .5em;
}
h1 a, h2 a, h3 a, h4 a {
	color: inherit;
	border: 0 !important;
}



/* Navigation
-------------------------------------------------- */
nav{
	position: fixed;
	width: 70px;
	height: 100%;
	z-index: 999;
	-webkit-backface-visibility: hidden;
}
#bande1, #bande2{
	height: 35px;
	width: 35px;
	cursor: move;
	cursor: ns-resize;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	overflow: visible;
	line-height: 35px;
	font-size: 16px;
	margin: 0;
	position: absolute;
	/*border-right: 1px solid;*/
	white-space: nowrap;
	top: -1px;
}
#prev{
	position : absolute;
	width: 70px;
	height: 40px;
	top: 0;
	z-index: 2;
	cursor: n-resize;
}
#bande1 {
}
#bande2 {
	left: 35px;
}
#bande1:active, #bande2:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#menu, #submenu{
	height: auto;
}
#submenu li {
	background-color: #3C1E1E;
	color: #fff;
}
#submenu li.active {
	background-color: white;
	color: #000;
	border: 0;
}

#menu li, #submenu li {
	list-style: none;
	position: relative;
	border: 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	margin-bottom:	-1px;
	height: auto; /* safari */
}


.box{
	position: relative;
	width: auto;
	display: inline-block;
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.box span {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	display: block;
	padding-right: 32px;
	/*border-right: 1px solid black;*/
}

@media screen and (max-width: 500px) {
	main{
		left: 35px !important;
	}
	#bande2{
		opacity: 0;
	}

}


/* Main
-------------------------------------------------- */

/* placement */
main {
	width: 28%;
	min-width: 285px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 70px;
	z-index: 999;
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}
main hr {
	margin-bottom: 3rem;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
}

/* contenu */
main p,
main h1,
main h2,
main h3,
main h4,
main figure,
main ul,
main ol {
	margin: 1.5rem 0;
}
main a {
}
main a:hover {
}
main .content > ul {
	margin: 0;
}
main .content > ul > li {
	margin:0;
	padding:0;
	padding-bottom: 3rem;
}
main .content > ul > li:first-child {
	padding-top: 1.5rem;
}

/* Images */
main figure.head {
	margin: 0;
}
main figure.head img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
/*	-webkit-transition: -webkit-filter 1s linear;
	transition: filter 1s linear; */
}
main figure.head img:hover {
/*	-webkit-filter: grayscale(0%);
	filter: none;
	-webkit-transition: -webkit-filter 1s linear;
	transition: filter 1s linear;*/
}

/* Texte */
.entry-content {
	margin: 0 1rem;
	padding: 1.5rem 0;
	position: relative;
}
.entry-title {
	margin: 0;
}
/* Text blocks */
.text ul,
.text ol,
.text li {
	list-style: none;
}

/* pictogrammes */
main .circle {
	position: absolute;
	top: 1.5rem;
	margin-top: -5px;
	right: 0;
	width: 35px;
	height: 35px;
	background-color: #FF8C00;
	border-radius: 35px;
	text-align: center;
}
main .circle:before {
	color: white;
	font-size: 22px;
	line-height: 34px;
	margin: 0;
	padding-left: 1px;
}

/* Liste de manifestations */
.manifestations-summary>h4 {
	margin-bottom: .5rem;
}
.manifestations-summary>li {
	padding: .5rem 1rem;
	margin: 0 -1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.manifestations-summary>li:last-child {
	/*border-bottom: 1px solid;*/
}
.manifestations-summary>li .synth {
	cursor: ns-resize;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.manifestations-summary>li .full-text {
}
.manifestations-summary .past-entries {
	color: rgba(0, 0, 0, 0.4);
}
.manifestations-summary .past-entries .icon {
	font-size: 20px;
	line-height: 0;
	vertical-align: middle;
}
.avenir-title {
	margin-top: 5rem;
}
ul.avenir li.item-avenir:last-child{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
ul.avenir li.item-avenir{
	padding: .5rem 1rem;
	margin: 0 -1rem;
	padding-bottom: 2rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.meta-avenir {
	margin-bottom: 2rem;
}
#splash {
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999999999;
	visibility: hidden;
	opacity:0;
  	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
  	-moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
  	-o-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
  	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}
#splash.shown{
	visibility:visible;
	opacity:1;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
}
#splashCross{
	color: white;
	text-shadow: 0px 0px 6px rgba(0,0,0,.3);
	font-size: 35px;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	z-index: 1;
}
#splashContainer{

}
#splashContainer img{
    max-width: 90%;
    max-height: 90%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;

}

/* Utils
-------------------------------------------------- */
.collapse {
	margin: 0 !important;
}
.foldable {
	cursor: ew-resize;
}
.hidden {
	display: none;
}
.cross {
  width: 1rem;
	height: 1rem;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -.5rem;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000;
}

.cross:before {
  left: 50%;
  width: 1px;
  margin-left: -.5px;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 1px;
  margin-top: -.5px;
  width: 100%;
}


/* Map
-------------------------------------------------- */
#map { position:fixed; top:0; bottom:0; width:100%; height: 100%; -webkit-backface-visibility: hidden; }
.mapbox-logo {	display: none !important; }

.leaflet-label.map-etiquette {
	border: 0px solid;
	border-radius: 0px;
	z-index: 999999999 !important;
	margin: 4px 0px;
	background-color: rgb(163, 186, 255);
	font-family: "whoismono",sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0, 0, 0,0.9);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.leaflet-label.map-etiquette::before {
    border-right: 11px solid #A3BAFF;
    left: -11px;
}
.leaflet-label.map-etiquette::after {
    border-left: 11px solid #A3BAFF;
    right: -11px;
}
.leaflet-label.map-etiquette::before, .leaflet-label.map-etiquette::after {
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    top: 0px;
}
