/*

Kirby Starterkit yoyoyo

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
/* FONTS
-------------------------------------------------- */
@font-face {
		font-family: 'dauphine';
		src: url(../fonts/dauphine-webfont.eot);
		src: url(../fonts/dauphine-webfont.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/dauphine-webfont.woff) format('woff'),
				 url(../fonts/dauphine-webfont.ttf) format('truetype'),
				 url(../fonts/dauphine-webfont.svg#whoismono) format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'dauphine';
		src: url(../fonts/dauphine_italic-webfont.eot);
		src: url(../fonts/dauphine_italic-webfont.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/dauphine_italic-webfont.woff) format('woff'),
				 url(../fonts/dauphine_italic-webfont.woff) format('woff'),
				 url(../fonts/dauphine_italic-webfont.ttf) format('truetype'),
				 url(../fonts/dauphine_italic-webfont.svg#whoismono) format('svg');
		font-weight: normal;
		font-style: italic;
}
@font-face {
		font-family: 'whoismono';
		src: url(../fonts/whois-mono.eot);
		src: url(../fonts/whois-mono.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/whois-mono.woff) format('woff'),
				 url(../fonts/whois-mono.ttf) format('truetype'),
				 url(../fonts/whois-mono.svg#whoismono) format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'leucadiaregular';
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot);
		src: url(../fonts/Leucadia-BeachedFish-webfont.eot?#iefix) format('embedded-opentype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff2) format('woff2'),
				 url(../fonts/Leucadia-BeachedFish-webfont.woff) format('woff'),
				 url(../fonts/Leucadia-BeachedFish-webfont.ttf) format('truetype'),
				 url(../fonts/Leucadia-BeachedFish-webfont.svg#leucadiaregular) format('svg');
		font-weight: normal;
		font-style: normal;

}

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}
li, ul, ol {
	list-style-type: none;
}


/* Pix
-------------------------------------------------- */
img {
	display: block;
	max-width: 100%;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
	content: "";
	display: table;
	clear: both;
}


/* Site
-------------------------------------------------- */
html {
	height: 101%;
	font-family: "whoismono", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-size: .9rem;
	line-height: 1.5em;
}
body, a {
	color: #422222;
}
p {
 color: #422222;
}

/* Header
-------------------------------------------------- */
.header {
  margin: -.5rem -1.5rem 2em -2rem;
}

/* Links
-------------------------------------------------- */
a {
	text-decoration: none;
	-webkit-transition: color ..5s, background ..5s, border ..5s;
	-ms-transition: color ..5s, background ..5s, border ..5s;
	-o-transition: color ..5s, background ..5s, border ..5s;
	transition: color ..5s, background ..5s, border ..5s;
}
a:hover {
}

/* Headings
-------------------------------------------------- */
h1 {
	font-size: 4rem;
	line-height: 1em;
	font-weight: 400;
	margin-bottom: .5rem;
}
h2 {
	font-size: 3.5rem;
	line-height: 1em;
	font-weight: 300;
	margin-bottom: .5rem;
}
h3 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin: 1.5em 0;
}
h4 {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
	margin-bottom: .5em;
}
h5 {
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .5em;
}
h1 a, h2 a, h3 a, h4 a {
	color: inherit;
	border: 0 !important;
}


/* Navigation
-------------------------------------------------- */
nav{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	width: 35px;
	height: 100%;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
}
nav, main, .shadow{
	-webkit-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-ms-transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
	transition: left 0.5s ease-in-out;
}
nav.fullWidth, main.fullWidth, .shadow.fullWidth{
	left: -28%;
}

#shade1{
	top: -21px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
#shade2{
	bottom: -21px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
}
.shadow{
	height: 20px;
	width: calc(28% + 35px);
	min-width: 320px;
	position: fixed;
	z-index: 9999999;
}

#bande1, #bande2{
	height: 35px;
	width: 35px;
	overflow: visible;
	line-height: 35px;
	font-size: 16px;
	margin: 0;
	position: absolute;
	/*border-right: 1px solid;*/
	white-space: nowrap;
	top: -1px;
}
#bande1, #bande2, main section.gallery, .swipable{
	cursor: move;
	cursor: ns-resize;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
#prev{
	position : absolute;
	width: 70px;
	height: 40px;
	top: 0;
	z-index: 2;
	cursor: n-resize;
}
#bande1 {
}
#bande2 {
	display: none;
	left: 35px;
}
#bande1:active, #bande2:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#menu, #submenu{
	height: auto;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#submenu li {
	background-color: #3C1E1E;
	color: #fff;
}
#submenu li.active {
	background-color: white;
	color: #000;
	border: 0;
}
li.swiper-slide:not(.active) {
  color: rgba(0,0,0,.65);
}
#menu li {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
  	list-style: none;
	position: relative;
	border: 0;
	margin-bottom:	-1px;
	height: auto; /* safari */
	overflow: hidden;
}
#menu li.active{
	overflow: visible;
}

#menu li:before, #menu li:after {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  right: 0;
  border-color: transparent;
}
#menu li:not(.duplicate):after {
  top: calc(50% - 15px);
  border-width: 15px 0 15px 15px;
  border-left-color: inherit;
}
#menu li:not(.duplicate):before {
  top: calc(50% - 16px);
  border-width: 16px 0px 16px 16px;
  border-left-color: rgba(0,0,0,.18);
  right: -1px;
}
#menu li:not(.duplicate).active:before, #menu li:not(.duplicate).active:after {
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  transform: translateX(15px);
}

#submenu li {
	list-style: none;
	position: relative;
	border: 0;
	margin-bottom:	-1px;
	height: auto; /* safari */
}


.box{
	position: relative;
	width: auto;
	display: inline-block;
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.box span {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	display: block;
	padding-right: 32px;
	/*border-right: 1px solid black;*/
}

@media screen and (max-width: 500px) {
	main.fullWidth,	nav.fullWidth, .shadow.fullWidth {
  		left: -285px !important;
	}
	#bande2{
		opacity: 0;
	}
	.mobile{
		visibility: visible !important;
		opacity: 1 !important;
	}
	.nomobile{
		visibility: hidden; !important;
		opacity: 0 !important;
	}
}


/* Main
-------------------------------------------------- */

/* placement */
main {
	width: 28%;
	min-width: 285px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 35px;
	z-index: 999;
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}
main hr {
	margin-bottom: 3rem;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
}

/* contenu */
main p,
main h1,
main h2,
main h3,
main h4,
main ul,
main ol {
	margin: 1.5rem 0;
}
main a {
}
main a:hover {
}
main .content > ul {
	margin: 0;
}
main .content > ul > li:not(.section-title) {
	margin:0;
	padding:0;
	padding-bottom: 1.5rem;
}
main .content > ul > li:first-child {
	padding-top: 1.5rem;
}

/* Images */
main section.gallery {
	overflow: hidden;
	position: relative;
}
main figure{
	margin: 0;
	position: relative;
}
main figure img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#splash figcaption {
	position: absolute;
	bottom: 10%;;
	width: 100%;
	text-align: center;
	padding: 0px 55px;
}
.gallery figcaption {
	position: absolute;
	bottom: 17px;
	width: 100%;
	text-align: center;
	padding: 0px 55px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4), -1px -1px 1px rgba(0,0,0,.4), -1px 1px 1px rgba(0,0,0,.4), 1px -1px 1px rgba(0,0,0,.4);
}
main .nav{
	position: absolute;
	z-index: 99;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4), -1px -1px 1px rgba(0,0,0,.4), -1px 1px 1px rgba(0,0,0,.4), 1px -1px 1px rgba(0,0,0,.4);
}
main .nav.fullscreen, .gallery .nav.prev-slide, .gallery .nav.next-slide, .gallery figcaption {
	visibility: hidden;
	opacity:0;
	-webkit-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	-moz-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	-o-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
}
figure:hover .nav.fullscreen, .gallery:hover .nav.fullscreen, .gallery:hover .nav.prev-slide, .gallery:hover .nav.next-slide, .gallery:hover figcaption{
	visibility:visible;
	opacity:1;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
}

.gallery .nav.pagination{
	bottom: 17px;
	left: 15px;
}
#splash .nav.pagination{
	bottom: 10%;
	right: 20px;
	position: absolute;
	z-index: 1;
}
main .nav.fullscreen{
	right: 8px;
	bottom: 17px;
	font-size: 20px;
	cursor: pointer;
}
.nav.prev-slide, .nav.next-slide{
	cursor: pointer;
	position: absolute;
}
.nav.prev-slide > div, .nav.next-slide > div{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  position: relative;
}
.gallery .nav.prev-slide, .gallery .nav.next-slide{
	font-size: 25px;
	top: 15%;
	height: 70%;
	bottom: 15%;
	width: 20%;
}
#splash .nav.prev-slide, #splash .nav.next-slide{
	font-size: 35px;
	width: 20%;
	top: 15%;
	height: 70%;
	bottom: 15%;
	position: absolute;
	z-index: 99;
}
.nav.prev-slide{
	left: 16px;
}
.nav.next-slide{
	right: 8px;
	text-align: right;
}/* Texte */
.section-title{
	padding: 110px 20px;
	color: #422222;
	text-align: center;
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
.entry-content {
	margin: 0 1rem;
	padding: 1.5rem 0;
	position: relative;
}
.entry-title {
	margin: 0;
}
/* Text blocks */
ul, ol, li {
	list-style: none;
}

/* pictogrammes */
.circle {
	width: 35px;
	height: 35px;
	border-radius: 35px;
	text-align: center;
	line-height: 35px;
	border: 1px solid rgba(0,0,0,0.5);
	display: inline-block;
	overflow: hidden;
}
.small-circle {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	line-height: 24px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	display: inline-block;
	overflow: hidden;
}
.circle::before {
	margin: 0;
	line-height: 33px;
}
main .top-right-button {
	position: absolute;
	top: 1.5rem;
	margin-top: -5px;
	right: 0;
	background-color: #fff;
	border: 0;
}
main .mapFit::before {
	color: black;
	font-size: 22px;
	line-height: 34px;
	margin: 0;
	padding-left: 1px;
}
main .scroll-button{
	cursor: pointer;
	color: red;
	position: absolute;
	bottom: 18px;
	right: 15px;
	font-size: 20px;
	transform: rotate(-45deg);
}
main .scroll-button .small-circle{
	background: #422222;
	font-size: 17px;
	line-height: 22px;
	color: red;
	border: 1px solid;
}
main .small-circle:before{
	margin: 0;
	line-height: 25px;
}


/* Bottom Buttons Bar */
.bottom-buttons-bar {
	height: 0;
	margin: 1.5rem 0;
}
.bottom-buttons-bar .circle {
	margin-right: .5rem;
}

/* Liste de manifestations */
.manifestations-summary>h4 {
	margin-bottom: .5rem;
}
.manifestations-summary>li {
	padding: .5rem 1rem;
	margin: 0 -1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.manifestations-summary>li:last-child {
	/*border-bottom: 1px solid;*/
}
.manifestations-summary>li .synth {
	cursor: ns-resize;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.manifestations-summary>li .full-text {
}
.manifestations-summary .past-entries {
	color: rgba(0, 0, 0, 0.4);
}
.manifestations-summary .past-entries .icon {
	font-size: 20px;
	line-height: 0;
	vertical-align: middle;
}
.avenir-title {
	margin-top: 5rem;
}
ul.avenir li.item-avenir:last-child{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
ul.avenir li.item-avenir{
	margin: 0 -1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.dateBloc{
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 1.2em;
	position: absolute;
	width: 110px;
	color: red;
	height: 100%
}
.dateWrap{
	position: absolute;
	text-align: center;
	height: 40px;
	width: 90px;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -45px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);

}
.sideBloc {
	display: inline-block;
	margin-left: 100px;
	padding: 20px;
	min-height: 120px;
}
.sideBloc h4{
	margin: 0;
	margin-bottom: .5rem;
}
#splash {
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999999999;
	visibility: hidden;
	opacity:0;
	-webkit-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	-moz-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	-o-transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
	transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
}
#fwButton{
	z-index: 9999999999999;
	visibility: hidden;
	opacity:0;
	position: fixed;
	background-color: #422222;
	color: white;
	top: 20px;
	left: 20px;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
	-moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
	-ms-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
	-o-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}
#splash.shown, #fwButton.shown{
	visibility:visible;
	opacity:1;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
}
#splashCross{
	font-size: 25px;
	position: absolute;
	top: 24px;
	right: 10px;
	cursor: pointer;
	z-index: 99999;
}
#splashContainer{
	height: 100%;
}
#splashContainer img{
    max-width: 90%;
    max-height: 90%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;

}

/* Utils
-------------------------------------------------- */
.collapse {
	margin: 0 !important;
}
.foldable {
	cursor: ew-resize;
}
.hidden {
	display: none;
}

/* Map
-------------------------------------------------- */
#map { 
	position:fixed; 
	top:0; 
	left: 15%; 
	right: -15%; 
	height: 100%; 
	-webkit-backface-visibility: hidden; 
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#map.fullWidth {
	left: 0px;
	right: 0px;
}


.mapbox-logo {	display: none !important; }

.leaflet-label.map-etiquette {
	border: 0px solid;
	border-radius: 0px;
	z-index: 999999999 !important;
	margin: 4px 5px;
	background-color: rgb(163, 186, 255);
	font-family: "whoismono",sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0, 0, 0,0.9);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.leaflet-label.map-etiquette::before {
    border-right: 11px solid #A3BAFF;
    left: -11px;
}
.leaflet-label.map-etiquette::after {
    border-left: 11px solid #A3BAFF;
    right: -11px;
}
.leaflet-label.map-etiquette::before, .leaflet-label.map-etiquette::after {
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    top: 0px;
}
.leaflet-label.map-etiquette .map-etiquette-date {
	color: rgba(0,0,0,.6);
}
.div-icon {
	background: none;
	border: 0;
	width: 14px !important;
	height: 14px !important;
	margin-top: -7px !important;
	margin-left: -7px !important;
}
.div-icon.selected {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	margin-top: -15px !important;
}
.div-icon>div {
	border-radius: 100%;
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
.div-icon .icon::before {
  color: transparent;
}
.div-icon.selected .icon::before {
  content: "î ª";
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
.leaflet-marker-icon.clusterIcon {
	width: 24px !important;
	height: 24px !important;
	margin-left: -12px !important;
	margin-top: -12px !important;
	background-color: #3C1E1E;
	border-radius: 30px;
	color: #F9FF9B;
	text-align: center;
	line-height: 25px;
	font-family: "whoismono";
	font-weight: 200;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
#map.showPlaceName .cluster-icon-lieu {
	display: block;
}
.cluster-icon-lieu {
	color: rgb(93, 93, 93);
	text-align: center;
	width: 200px;
	position: absolute;
	left: -92px;
	top: 21px;
	text-shadow: -1px -1px 0px rgb(255, 255, 255), 1px -1px 0px rgb(255, 255, 255), -1px 1px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255);
	font-size: 14px;
	letter-spacing: 0.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none;
}
.cluster-icon-lieu span {
	white-space: nowrap;
	font-family: "dauphine";
}

.mapController {
	cursor: pointer;
}

.locate-button {

}
.locate-button::before {
	padding: 0px !important;
	margin: 0px !important;
	width: 25px;
	vertical-align: middle !important;
	line-height: 25px !important;
	font-size: 19px !important;
}
.leaflet-routing-container {
	display: none;
}
